@charset "UTF-8";

body {
    background-color: black;
    color: silver;
    font-size: 18px;
    text-align: center;
}

h1 a{
    font-size: 2em;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 1.6em;
}

hr{
    opacity: 0.5;
}

a{
    text-decoration: none;
    color: goldenrod;
}

a:hover{
    color: gold;
}

ul{
    list-style: none;
}

div.container{
    width: 1000px;
    text-align: left;
    margin: 20px auto;
}

div.description{
    margin: 0 auto 50px;
}

div.flex{
    display: flex;
}

div.main{
    width: 70%;
}

div.article{
    width: 98%;
}

div.side{
    width: 30%;
    background-color: #222222;
}

div.side > div{
    margin: 10px auto 40px;
}

div.side h2{
    margin: 10px 20px;
}

div.date{
    margin: 0;
    padding: 10px 0 0;
}

div.text{
    margin: 20px auto;
}

div.text p{
    margin: 0;
    padding: 0;
    line-height: 150%;
}

span {
    line-height: 1.3em;
}

span.f1{
    font-size: 0.2em;
}

span.f2{
    font-size: 0.4em;
}

span.f3{
    font-size: 0.6em;
}

span.f4{
    font-size: 0.8em;
}

span.f5{
    font-size: 1em;
}

span.f6{
    font-size: 2em;
}

span.f7{
    font-size: 3em;
}

span.f8{
    font-size: 5em;
}

span.f9{
    font-size: 10em;
}
